@import "tailwindcss";
@import "./styles/fonts.css";

@theme {
  --color-heading-light: rgba(255, 255, 255, 1);
  --color-heading-dark: #11142d;
  --color-primary-button: rgba(77, 168, 204, 0.9);

  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}
