@import "tailwindcss";
@import "./styles/fonts.css";

body {
  font-family: var(--font-sans);
}

@theme {
  --color-heading-light: rgba(255, 255, 255, 1);
  --color-heading-dark: #11142d;
  --color-badge-text: rgba(17, 20, 45, 1);
  --color-badge-bg: rgba(194, 238, 255, 1);
  --color-research-text: rgba(17, 20, 45, 0.64);
  --color-primary-button: rgba(77, 168, 204, 0.9);

  --color-research-card-border: rgba(246, 244, 255, 1);
  --color-research-profile-title-one: rgba(30, 62, 133, 1);
  --color-research-profile-title-two: rgba(82, 180, 218, 1);

  --color-research-card-shadow: rgba(49, 89, 211, 0.12);
  --color-research-logo-circle-shadow: rgba(49, 89, 211, 0.07);
  --color-member-ship-text: rgba(128, 129, 145, 1);

  --background-image-research-card-circle-border: linear-gradient(
    132.56deg,
    #ffed43 5.63%,
    #f29939 106.18%
  );

  --background-image-research-logo-circle-bg: linear-gradient(
    132.56deg,
    #52b4da 5.63%,
    #1e3e85 106.18%
  );

  --shadow-research-card: 14px 41px 100px 0px var(--color-research-card-shadow);
  --shadow-research-logo-circle: 14px 41px 50px 0px
    var(--color-research-logo-circle-shadow);
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .research-card-circle-border-gradient {
    border: 4px solid transparent;
    border-radius: 100%;
    background-image:
      linear-gradient(white, white),
      var(--background-image-research-card-circle-border);
    background-clip: padding-box, border-box;
    background-origin: border-box;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}
